<div class="container text-center">
    <div class="container">
        <div class="container text-center">
            <div class="box">
                <h2>Book Shelf</h2>
                <h4>Online books</h4>
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                        <input type="text" class="form-control" placeholder="Book Name" ng-model="bookName">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                        <input type="text" class="form-control" placeholder="ISBN" ng-model="isbn">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Author Name" ng-model="author">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="date" class="form-control" value="Published Year" placeholder="Published year" ng-model="year">
                    </div>
                    <br/>
                    <button class="btn btn-success btn-md" ng-click="addBook()">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </form>
                <br>
            </div>
        </div>
        <br/><br/>
        <table class="table">
            <thead>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="x in booksList">
                <td>
                    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.bookName"></span>
                </td>
                <td>
                    <span ng-bind="x.author"></span>
                </td>
                <td ng-model="edit">
                    <button class="btn btn-primary btn-md" ng-click="edit($index)">
                        <span class="glyphicon glyphicon-pencil"></span> Update
                    </button>
                </td>

            </tr>

            </tbody>
        </table>
        <p><button class="btn btn-danger" ng-click="remove()">
            <span class="glyphicon glyphicon-remove"></span> Delete Marked
        </button></p>
    </div>
</div>